body{
    background-color: rgb(184, 186, 252);
}
p{
    font-weight: bold;
    color: rgb(84, 70, 50);
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
